/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/11/2016, 10:03:33 AM
    Author     : Nelvedier
*/
html { overflow-y:hidden; }
html { overflow-x:hidden; }




body{
    background-image:url("../img/8.png");
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image:url("../img/8.png");
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: -2;
}


#btnRegistrarCli{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 60px;
}


#btnRegistrarCli:hover{
	opacity: 0.8;
}

#btnRegistrarCli:active{
	opacity: 0.6;
}


.label{
    width: 250px;
	height: 30px;
	background: transparent;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.txt{
    width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}
.txt:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: -2;
}

.registroCentrar{
    position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 200px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: -2;
}